<template>
	<main>
		<div id="page">
			<div id="accueil" :style="{'background-image': 'url(./static/img/fond.png)'}">
				<div id="conteneur">
					<div id="contenu">
						<h1>
							<span>Digitranscode</span> <span>by La Digitale</span>
						</h1>
						<div>
							<p><strong>Digitranscode</strong> permet de <strong>convertir</strong> des fichiers audio et des vidéos directement dans votre navigateur.</p>
							<label for="charger" id="bouton" role="button" :tabindex="!modale && message === '' && !hub ? 0 : -1" @keydown.enter="activerInput('charger')">Sélectionner un fichier</label>
							<input id="charger" type="file" @change="selectionner" accept=".mp3, .wav, .m4a, .ogg, .flac, .aac, .wma, .wmv, .avi, .webm, .mkv, .ogm, .ogv, .mp4, .m4v, .mov, .flv" style="display: none;">
						</div>
					</div>
					<div id="credits">
						<p><a href="https://opencollective.com/ladigitale" target="_blank" rel="noreferrer">Je souhaite apporter mon soutien ❤️.</a></p>
						<p>{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a> - <a href="https://codeberg.org/ladigitale/digitranscode" target="_blank" rel="noreferrer">Code source</a> - <a href="https://codeberg.org/ladigitale/digitranscode/releases" target="_blank" rel="noreferrer">v{{ version }}</a> - <span class="hub" role="button" :tabindex="!modale && message === '' && !hub ? 0 : -1" @click="ouvrirHub" @keydown.enter="ouvrirHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#001d1d" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg></span></p>
					</div>
				</div>
			</div>
			<div class="conteneur-modale" v-if="modale">
				<div id="parametres" class="modale" :class="{'transcodage': transcodage}" role="dialog">
					<header v-if="!transcodage">
						<span class="titre">{{ titreModale }}</span>
						<span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
					</header>
					<div class="conteneur">
						<div class="contenu" v-if="type === 'audio' && !transcodage">
							<label for="qualite">Qualité (en Ko par seconde)</label>
							<select id="qualite" :value="bitrate" @change="bitrate = $event.target.value">
								<option v-for="(item, index) in bitratesAudio" :value="item" :key="'debit_' + index">{{ item }}</option>
							</select>
							<label for="echantillonnage">Taux d'échantillonnage (en Hz)</label>
							<select id="echantillonnage" :value="samplerate" @change="samplerate = $event.target.value">
								<option v-for="(item, index) in samplerates" :value="item" :key="'taux_' + index">{{ item }}</option>
							</select>
							<label for="canal">Canal</label>
							<select id="canal" :value="canal" @change="canal = $event.target.value">
								<option v-for="(item, index) in canaux" :value="index + 1" :key="'canal_' + index">{{ item }}</option>
							</select>
							<label for="format">Format de sortie</label>
							<select id="format" :value="format" @change="format = $event.target.value">
								<option v-for="(item, index) in formatsAudio" :value="item" :key="'format_' + index">{{ item }}</option>
							</select>
							<div class="actions">
								<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="transcoder" @keydown.enter="transcoder">Transcoder</span>
							</div>
						</div>
						<div class="contenu" v-else-if="type === 'video' && !transcodage">
							<div class="conteneur-interrupteur">
								<span>Extraire uniquement l'audio de la vidéo</span>
								<label class="bouton-interrupteur" role="button" :tabindex="message === '' ? 0 : -1" @keydown.enter="activerInput('extraction-audio')">
									<input id="extraction-audio" type="checkbox" :checked="extractionAudio === 'oui'" @change="modifierExtraction">
									<span class="barre" />
								</label>
							</div>
							<label for="qualite">Qualité (en Ko par seconde)</label>
							<select id="qualite" :value="bitrate" @change="bitrate = $event.target.value" :disabled="extractionAudio === 'oui'">
								<option value="originale">originale</option>
								<option v-for="(item, index) in bitratesVideo" :value="item" :key="'debit_' + index">{{ item }}</option>
							</select>
							<label for="resolution">Résolution (en pixels)</label>
							<select id="resolution" :value="resolution" @change="resolution = $event.target.value" :disabled="extractionAudio === 'oui'">
								<option value="originale">originale</option>
								<option v-for="(item, index) in resolutions" :value="item" :key="'resolution_' + index">{{ item }}</option>
							</select>
							<label for="sortie">Format de sortie</label>
							<select id="sortie" :value="format" @change="format = $event.target.value" :disabled="extractionAudio === 'oui'">
								<option v-for="(item, index) in formatsVideo" :value="item" :key="'format_' + index">{{ item }}</option>
							</select>
							<div class="conteneur-interrupteur">
								<span>Supprimer la piste audio</span>
								<label class="bouton-interrupteur" role="button" :tabindex="message === '' ? 0 : -1" @keydown.enter="activerInput('suppression-audio')">
									<input id="suppression-audio" type="checkbox" :checked="suppressionAudio === 'oui'" @change="modifierSuppression" :disabled="extractionAudio === 'oui'">
									<span class="barre" :class="{'desactive': extractionAudio === 'oui'}" />
								</label>
							</div>
							<div class="actions" v-if="extractionAudio === 'non'">
								<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="transcoder" @keydown.enter="transcoder">Transcoder</span>
							</div>
							<div class="actions" v-else>
								<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="transcoder" @keydown.enter="transcoder">Extraire</span>
							</div>
						</div>
						<div class="contenu" v-else>
							<div class="conteneur-chargement">
								<div class="chargement" />
							</div>
							<div class="progression" />
						</div>
					</div>
				</div>
			</div>
			<div id="hub" :class="{'ouvert': hub}" :tabindex="hub ? 0 : -1">
				<span role="button" :tabindex="hub ? 0 : -1" @click="fermerHub" @keydown.enter="fermerHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></span>
				<iframe src="https://ladigitale.dev/hub.html" title="Le Hub by La Digitale"></iframe>
			</div>
		</div>
		<div id="conteneur-chargement" v-if="chargement">
			<div id="chargement">
				<div class="spinner"><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /></div>
			</div>
		</div>
		<div id="conteneur-message" class="conteneur-modale" v-if="message">
			<div id="message" class="modale" role="dialog">
				<div class="conteneur">
					<div class="contenu">
						<div class="message" v-html="message" />
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerMessage" @keydown.enter="fermerMessage">Fermer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
import { saveAs } from 'file-saver'
// eslint-disable-next-line
const { createFFmpeg, fetchFile } = FFmpeg

export default {
	name: 'App',
	data () {
		return {
			chargement: true,
			message: '',
			notification: '',
			modale: false,
			titreModale: '',
			type: '',
			fichier: '',
			ffmpeg: null,
			bitrate: '',
			bitratesAudio: ['96k', '128k', '192k', '256k'],
			bitratesVideo: ['1000k', '1200k', '1400k', '1600k', '1800k', '2000k', '3000k'],
			format: '',
			formatsAudio: ['mp3', 'ogg', 'aac', 'm4a'],
			formatsVideo: ['mp4', 'ogv', 'webm', 'mkv', 'mov'],
			samplerate: 0,
			samplerates: [22050, 44100, 48000],
			canal: 0,
			canaux: ['mono', 'stéréo'],
			resolution: '',
			resolutions: ['640x480', '1280x720', '1920x1080'],
			suppressionAudio: '',
			extractionAudio: '',
			id: 0,
			transcodage: false,
			elementPrecedent: null,
			hub: false,
			version: app_version
		}
	},
	watch: {
		message: function (message) {
			if (message !== '') {
				this.elementPrecedent = (document.activeElement || document.body)
				this.$nextTick(function () {
					document.querySelector('#message .bouton').focus()
				})
			}
		},
		notification: function (notification) {
			if (notification !== '') {
				const element = document.createElement('div')
				const id = 'notification_' + Date.now().toString(36) + Math.random().toString(36).substring(2)
				element.id = id
				element.textContent = notification
				element.classList.add('notification')
				document.querySelector('#app').appendChild(element)
				this.notification = ''
				setTimeout(function () {
					element.parentNode.removeChild(element)
				}, 2000)
			}
		}
	},
	mounted () {
		setTimeout(function () {
			this.chargement = false
		}.bind(this), 300)

		document.addEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		selectionner (event) {
			const fichier = event.target.files[0]
			if (fichier !== null) {
				this.id++
				const extension = fichier.name.substring(fichier.name.lastIndexOf('.') + 1).toLowerCase()
				const audio = ['mp3', 'wav', 'm4a', 'ogg', 'flac', 'aac', 'wma']
				const video = ['wmv', 'avi', 'webm', 'mkv', 'ogm', 'ogv', 'mp4', 'm4v', 'mov', 'flv']
				if (audio.includes(extension)) {
					this.type = 'audio'
					this.titreModale = 'Convertir un fichier audio'
					this.bitrate = '128k'
					this.samplerate = 44100
					this.canal = 2
					this.format = 'mp3'
				} else if (video.includes(extension)) {
					this.type = 'video'
					this.titreModale = 'Convertir une vidéo'
					this.bitrate = 'originale'
					this.resolution = 'originale'
					this.suppressionAudio = 'non'
					this.extractionAudio = 'non'
					this.format = 'mp4'
				} else {
					this.fermerModale()
					document.querySelector('#charger').value = ''
					this.message = 'Ce format de fichier n\'est pas pris en charge.'
					return false
				}
				if (fichier.size > 2048000000) {
					this.fermerModale()
					document.querySelector('#charger').value = ''
					this.message = 'La taille maximum autorisée est de 2 Go.'
					return false
				}
				this.fichier = fichier
				this.elementPrecedent = (document.activeElement || document.body)
				this.modale = true
				document.querySelector('#charger').value = ''
				this.$nextTick(function () {
					document.querySelector('.modale select').focus()
				})
			} else {
				document.querySelector('#charger').value = ''
				this.message = 'Veuillez sélectionner un fichier audio ou une vidéo.'
			}
		},
		async transcoder () {
			this.transcodage = true
			this.$nextTick(function () {
				const element = document.querySelector('#parametres .progression')
				element.innerHTML = '<span id="progression-' + this.id + '">Démarrage de l\'extraction…</span>'
			}.bind(this))
			this.ffmpeg = createFFmpeg({ log: false })
			if (!this.ffmpeg.isLoaded()) {
				await this.ffmpeg.load()
			}
			let fichierTranscode = this.fichier.name.substring(0, this.fichier.name.lastIndexOf('.')) + '_transcode.' + this.format
			this.ffmpeg.FS('writeFile', this.fichier.name, await fetchFile(this.fichier))
			setTimeout(function () {
				this.ffmpeg.setProgress(function ({ ratio }) {
					if (document.querySelector('#progression-' + this.id)) {
						document.querySelector('#progression-' + this.id).textContent = 'Transcodage en cours : ' + Math.ceil(ratio * 100) + '%'
					}
				}.bind(this))
			}.bind(this), 500)
			if (this.type === 'audio') {
				await this.ffmpeg.run('-i', this.fichier.name,  '-b:a', this.bitrate, '-ar', this.samplerate, '-ac', this.canal, fichierTranscode)
			} else if (this.type === 'video' && this.extractionAudio === 'oui') {
				this.format = 'mp3'
				fichierTranscode = this.fichier.name.substring(0, this.fichier.name.lastIndexOf('.')) + '_transcode.mp3'
				await this.ffmpeg.run('-i', this.fichier.name, '-vn', fichierTranscode)
			} else if (this.type === 'video' && this.bitrate !== 'originale' && this.resolution !== 'originale' && this.suppressionAudio === 'non') {
				await this.ffmpeg.run('-i', this.fichier.name, '-b:v', this.bitrate, '-s', this.resolution, fichierTranscode)
			} else if (this.type === 'video' && this.bitrate !== 'originale' && this.resolution === 'originale' && this.suppressionAudio === 'non') {
				await this.ffmpeg.run('-i', this.fichier.name, '-b:v', this.bitrate, fichierTranscode)
			} else if (this.type === 'video' && this.bitrate === 'originale' && this.resolution !== 'originale' && this.suppressionAudio === 'non') {
				await this.ffmpeg.run('-i', this.fichier.name, '-s', this.resolution, fichierTranscode)
			} else if (this.type === 'video' && this.bitrate === 'originale' && this.resolution === 'originale' && this.suppressionAudio === 'non') {
				await this.ffmpeg.run('-i', this.fichier.name, fichierTranscode)
			} else if (this.type === 'video' && this.bitrate !== 'originale' && this.resolution !== 'originale' && this.suppressionAudio === 'oui') {
				await this.ffmpeg.run('-i', this.fichier.name, '-b:v', this.bitrate, '-s', this.resolution, '-an', fichierTranscode)
			} else if (this.type === 'video' && this.bitrate !== 'originale' && this.resolution === 'originale' && this.suppressionAudio === 'oui') {
				await this.ffmpeg.run('-i', this.fichier.name, '-b:v', this.bitrate, '-an', fichierTranscode)
			} else if (this.type === 'video' && this.bitrate === 'originale' && this.resolution !== 'originale' && this.suppressionAudio === 'oui') {
				await this.ffmpeg.run('-i', this.fichier.name, '-s', this.resolution, '-an', fichierTranscode)
			} else if (this.type === 'video' && this.bitrate === 'originale' && this.resolution === 'originale' && this.suppressionAudio === 'oui') {
				await this.ffmpeg.run('-i', this.fichier.name, '-an', fichierTranscode)
			}
			const donnees = this.ffmpeg.FS('readFile', fichierTranscode)
			setTimeout(function () {
				saveAs(new Blob([donnees.buffer], { type: this.type + '/' + this.format }), fichierTranscode)
				this.notification = 'Fichier transcodé téléchargé.'
				this.fermerModale()
			}.bind(this), 500)
		},
		fermerModale () {
			this.modale = false
			this.titreModale = ''
			this.type = ''
			this.fichier = ''
			this.bitrate = ''
			this.samplerate = 0
			this.canal = 0
			this.resolution = ''
			this.suppressionAudio = ''
			this.extractionAudio = ''
			this.format = ''
			this.transcodage = false
			if (this.ffmpeg !== null) {
				try {
					this.ffmpeg.exit()
				} catch (e) {
					console.log(e)
				}
			}
			this.ffmpeg = null
			this.gererFocus()
		},
 		modifierExtraction (event) {
			if (event.target.checked === true) {
				this.extractionAudio = 'oui'
			} else {
				this.extractionAudio = 'non'
			}
		},
		modifierSuppression (event) {
			if (event.target.checked === true) {
				this.suppressionAudio = 'oui'
			} else {
				this.suppressionAudio = 'non'
			}
		},
		fermerMessage () {
			this.message = ''
			this.gererFocus()
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.message !== '') {
				this.message = ''
			} else if (event.key === 'Escape' && this.modale && !this.transcodage) {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.hub) {
				this.hub = false
				this.gererFocus()
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		ouvrirHub () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.hub = true
			this.$nextTick(function () {
				document.querySelector('#hub span').focus()
			})
		},
		fermerHub () {
			this.hub = false
			this.gererFocus()
		}
	}
}
</script>

<style src="destyle.css/destyle.css"></style>
<style src="@/assets/css/style.css"></style>

<style>
#page,
#accueil {
	width: 100%;
	height: 100vh;
}

#accueil {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#conteneur {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

#contenu {
	max-width: 76em;
	text-align: center;
	padding: 12em 1em 6em;
	margin: auto;
}

#conteneur h1 {
    font-family: 'Mona Sans Expanded', sans-serif;
    font-size: 3em;
    margin-bottom: 0.85em;
    line-height: 1.4;
}

#conteneur p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1.5em;
}

#credits {
	width: 100%;
	margin: 0 auto 0.75em;
}

#credits p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

#credits p:last-child a {
	margin: 0 5px;
}

#credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
	z-index: 100000;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

@media screen and (max-width: 359px) {
	#contenu {
		padding: 4em 1em 2em;
	}

	#bouton {
		font-size: 0.75em!important;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	#contenu {
		padding: 5em 1em 2.5em;
	}
}

@media screen and (max-width: 399px) {
	#conteneur h1 span {
		display: block;
	}
}

@media screen and (max-width: 599px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}

	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-height: 599px) {
	#parametres {
		height: 90%;
	}
}

@media screen and (max-width: 599px) and (orientation: landscape) {
	#contenu {
		padding: 2em 1em 1.5em!important;
	}
}

@media screen and (min-width: 600px) and (max-width: 820px) and (orientation: landscape) {
	#contenu {
		padding: 3em 1em 1.5em!important;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#conteneur p {
		font-size: 1em!important;
	}
	
	#credits p {
		font-size: 0.85em!important;
		margin-bottom: 0.85em!important;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#contenu {
		padding: 7em 1em 3.5em;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#bouton {
		font-size: 0.85em!important;
	}
	
	#credits p {
		font-size: 0.85em;
	}
}
</style>
